{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Tienda</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
	<script src="https://kit.fontawesome.com/de1c5fdddc.js" crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<img src="../../../media/img/logo.png" alt="logo" id="logo">
		<div class="container-icon">
			<a href="../carrito/">
				<img src="../../../media/img/carrito.png" alt="carrito">
			</a>
			<div class="count-products">
				<span id="contador-productos">0</span>
			</div>

			<div class="container-cart-products hidden-cart">
				<div class="cart-product">
				</div>
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
					stroke="currentColor" class="icon-close">
					<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
				</svg>
			</div>

		</div>
		</div>
	</header>
    <div class="menu">
		<nav class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" href="#">MENU</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link active" href="../">Inicio <span class="sr-only">(current)</span></a>
					<a class="nav-item nav-link" href="../juegos/">Juegos</a>
					<a class="nav-item nav-link" href="../juegosMesa/">Juegos De Mesa</a>
					<a class="nav-item nav-link" href="../nosotros/">Nosotros</a>
					<a class="nav-item nav-link" href="../cuenta/">Cuenta</a>
				</div>
			</div>
		</nav>
	</div>  
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="row" colspan="3" class="text-center">Carrito</th>
            </tr>
            <tr>
                <th scope="col">NOMBRE</th>
                <th scope="col">PRECIO</th>
                <th scope="col">CANTIDAD</th>
            </tr>
        </thead>
    
    <tbody>
        {% if request.session.carrito.items %}
        {% for key, value in requiest.session.carrito.items %}
        <tr>
            <td>{{ value.nombre }}</td>
            <td>{{ value.precio}}</td>
            <td>{{ value.acumulado }}
                <a href="{$ url 'add' value.producto_nombre %}" class="badge btn btn-light badge-light">+</a>
                <a href="{$ url 'res' value.producto_nombre %}" class="badge btn btn-light badge-light">-</a>
            </td>   
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">
                <div class="alert alert-danger text-center">SIN PRODUCTOS</div>
            </td>
        </tr>
        {% endif %}
        <tr>
            <th scope="row">TOTAL</th>
            <td colspan="2">$ {{total_carrito}}</td>
        </tr>
    </tbody>
    </table>    
    <hr>
    </div>
    <div class="row text-center">
        <div class="col-6"><a href="{% url 'clear' %}" class="btn btn-danger">Limpiar</a></div>
        <div class="col-6"><a href="#" class="btn btn-success">Guardar</a></div>
    </div>


    <footer class="pie-pagina">
		<div class="grupo-1">
			<div class="box">
				<figure>
					<a href="#">
						<img src="../../../media/img/logo.png" alt="Logo de gamehub">
					</a>
				</figure>
			</div>
			<div class="box">
				<h2>SOBRE NOSOTROS</h2>
				<p>infogamehub22@gmail.com</p>
				<p>+56930022583</p>
				<p>Ubicados en: <br>Un pc de un lolero</p>
			</div>
			<div class="box">
				<h2>SIGUENOS</h2>
				<div class="red-social">
					<a href="https://www.facebook.com/GameHubINT/" class="fa fa-facebook"></a>
					<a href="https://www.instagram.com/GameHubInt/" class="fa fa-instagram"></a>
					<a href="https://twitter.com/game_hub22" class="fa fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="grupo-2">
			<small>&copy; 2023 <b>Pasto Interteiment</b> - Todos los Derechos Reservados por mi.</small>
		</div>
	</footer>

	<script src="js/index.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>
