{% extends 'web/base.html' %}

{%block contenido%}

	<section>
		<div class="contCarrusel">
			<div class="itemCarrusel" id="itemCarrusel1">
				<div class="tarjetaCarrusel" id="tarjeta1">
					<img src="../../../media/img/resident.jpg" alt="r4">
				</div>
				<div class="flechasCarrusel">
					<a href="#itemCarrusel3">
						<i class="fa-solid fa-chevron-left"></i>
					</a>
					<a href="#itemCarrusel2">
						<i class="fa-solid fa-chevron-right"></i>
					</a>
				</div>
			</div>
			<div class="itemCarrusel" id="itemCarrusel2">
				<div class="tarjetaCarrusel" id="tarjeta2">
					<img src="../../../media/img/DDBeyond.webp" alt="dnd">
				</div>
				<div class="flechasCarrusel">
					<a href="#itemCarrusel1">
						<i class="fa-solid fa-chevron-left"></i>
					</a>
					<a href="#itemCarrusel3">
						<i class="fa-solid fa-chevron-right"></i>
					</a>
				</div>
			</div>
			<div class="itemCarrusel" id="itemCarrusel3">
				<div class="tarjetaCarrusel" id="tarjeta3">
					<img src="../../../media/img/ofer2.jpeg" alt="ofer2">
				</div>
				<div class="flechasCarrusel">
					<a href="#itemCarrusel2">
						<i class="fa-solid fa-chevron-left"></i>
					</a>
					<a href="#itemCarrusel1">
						<i class="fa-solid fa-chevron-right"></i>
					</a>
				</div>
			</div>
		</div>
		<br>
		<br><br><br>
		<div class="exclusivos animacion-bg">
			<div id="marca">
				<H1>EXCLUSIVOS</H1>
			</div>
		</div>
		<div class="exclusivSection">
			<div id="items">
				<figure id="dist">
					<img src="../../../media/img/Cult.png" alt="clut">
				</figure>
			</div>
			<div id="items">
				<figure id="dist">
					<img src="../../../media/img/tlou.webp" alt="monopoly">
				</figure>
			</div>
			<div id="items">
				<figure id="dist">
					<img src="../../../media/img/r4.webp" alt="r4">
				</figure>
			</div>
			<div id="items">
				<figure id="dist">
					<img src="../../../media/img/minecraft.webp" alt="maicra">
				</figure>
			</div>
		</div>
	</section>

	{%endblock%}