{% extends 'web/base.html' %}

{%block contenido%}
<div class="container-items">
	{% for producto in productos %}
			<div class="item">
				<figure>
					<img src="{{ producto.imagen.url }}" alt="imagen">
				</figure>
				<div class="info-product">
					<h2> {{ producto.nombre }}</h2>
					<h1> {{ producto.marca }} </h1>
					<p> {{ producto.descripcion }}</p>
					<p class="price">${{ producto.precio }}</p>
					<a href="{% url 'add' producto.nombre %}" class="btn btn-primary" id="agregar">agregar al carrito</a>
				</div>
			</div>
	{% endfor %}
</div>
{%endblock%}