{% extends 'web/base.html' %}

{%block contenido%}
		<div class="info-cont">
        	<section class="info">
			<div>
            <p>
                <br>
                ¿Quienes somos?

                <br>
            <p>En nuestra empresa de venta de juegos, nos enorgullece brindar a nuestros clientes una experiencia única y personalizada. Desde el momento en que visitan nuestra tienda.
                </p>
                <p>
                Como GameHub, nos comprometemos a ofrecer solo los mejores productos y servicios. Trabajamos con las empresas directamente para asegurarnos de que nuestra selección incluya las ultimas ofertas. Además, ofrecemos una garantía completa en todos nuestros productos para que puedas tener la tranquilidad de saber que estás comprando un producto de calidad.
                </p>
                <p>
                En resumen, en nuestra empresa de venta de juegos, nos esforzamos por ofrecer a nuestros clientes la mejor experiencia de compra posible. Desde la selección de productos hasta el servicio al cliente, siempre estamos enfocados en brindar una experiencia excepcional.</p>
            </p>
        	</section>
		</div>
		{%endblock%}